name: Analyze

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.0.0'

      - name: Install DCM
        uses: CQLabs/setup-dcm@v2
        with:
          version: '1.27.1'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: flutter pub get

      - name: Format
        run: dart format --set-exit-if-changed .

      - name: Lints
        run: |
          flutter analyze --fatal-infos --fatal-warnings .
          dcm analyze --no-analytics --reporter=github .
          dcm check-code-duplication --no-analytics .

      - name: Dependencies
        run: |
          dcm check-dependencies --no-analytics .

      - name: Unused code
        run: |
          dcm check-unused-files --no-analytics .
          dcm check-unused-code --no-analytics .

  publication-guidelines:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.0.0'

      - name: Install Dependencies
        run: |
          flutter pub get
          flutter pub global activate pana
          sudo apt-get install webp

      - name: Verify Pub Score
        run: pana --no-warning --exit-code-threshold=0
